
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

*{
  margin: 0;
  padding:  0;
  outline: 0;
  box-sizing: border-box;
}

html, body{
  height: 100vh;
  font: 400 15px Poppins, sans-serif;
  background: #e3e3e9d2;
  -webkit-font-smothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

 /* width */
 ::-webkit-scrollbar {
  width: 5px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(197, 175, 161);
}